body,
html {
  height: 96%;
  margin: 10px;
}
h1,
h2 {
  margin: 0;
}

#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  min-height: 100%;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-style: solid;
  height: 30px;
  align-items: center;
  padding: 10px;
}

.header-item > a {
  padding: 4px;
  text-decoration: none;
  color: inherit;
}

#menu > a {
  border-style: solid;
}

#title {
  font-size: 20pt;
}

#menu {
  display: flex;
  justify-content: space-between;
  width: 175px;
}
/* the middle part */
#summary-full {
  flex: 1;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-flow: column;
  text-align: center;
  justify-content: space-around;
}

/* calorie big */
#big-cal {
}

/* table */
table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border: solid;
  width: 100%;
  table-layout: fixed;
}

tbody th {
  font-weight: 500;
}

tbody tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.233);
}

tbody tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.089);
}

thead {
  border-style: solid;
}

#date-box {
  text-align: center;
}

#footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-style: solid;
  height: 20px;
  align-items: center;
  padding: 10px;
}
