<!DOCTYPE html>
<html lang="en">
  ${head}
  <body>
    ${header}
    <div id="wrapper">
      <form method="POST">
        <label id="food">Food</label>
        <input type="text" name="food" /><br />
        <label id="calories">Calories</label>
        <input type="integer" name="calories" /><br />
        <label id="meal">Meal</label>
        <input type="text" name="meal" /><br />
        <label id="date">Date</label>
        <input name="date" /><br />
        <label id="time">Time</label>
        <input name="time" /><br />
        <input type="submit" />
      </form>
      ${footer}
    </div>
  </body>
</html>
