<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    Confirm food!!
    <form>
      <div id="food-compare">
        <div id="food-input">
          <ul>
            <li>Food: ${foodInfo.food}</li>
            <li>Calories: ${foodInfo.calories}</li>
            <li>Meal: ${foodInfo.meal}</li>
            <li>Date: ${foodInfo.date}</li>
            <li>Time: ${foodInfo.time}</li>
          </ul>
        </div>
      <input type="submit">
    </form>
      <!-- <div id="food-db">
        <ul>
          <li>Food: ${foodDB[0].food}</li>
          <li>Calories: ${foodDB[0].calorie}</li>
          <li>Meal: ${foodInfo.meal}</li>
          <li>Date: ${foodInfo.date}</li>
          <li>Time: ${foodInfo.time}</li>
        </ul>
      </div> -->
    </div>
  </body>
</html>
