<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    Confirm food!!

    <div id="food-input">
      <ul>
        <li>Food: ${foodInfo.food}</li>
        <li>Calories: ${foodInfo.calories}</li>
        <li>Meal: ${foodInfo.meal}</li>
        <li>Date: ${foodInfo.date}</li>
        <li>Time: ${foodInfo.time}</li>
      </ul>
    </div>
    <div id="food-compare"></div>
  </body>
</html>
