<!DOCTYPE html>
<html lang="en">
  ${head}
  <body>
    <div class="wrapper">
      ${header}
      <div class="summary-full">
        <div class="today-detail">
          <div id="big-cal">
            <h2>Today's Calories:</h2>
            <h1 id="cals-today">${calSumDay[0].sum ? calSumDay[0].sum : 0}</h1>
          </div>
          <div id="sum-table">
            <table id="cal-table">
              <thead>
                <tr>
                  <th>Food</th>
                  <th>Calorie</th>
                  <th>Meal</th>
                  <th>Time</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody>
                ${resultsDay.map((el) => `
                <tr>
                  <th>
                    ${el.food.toLowerCase().slice(0,1).toUpperCase() +
                    el.food.slice(1, el.length).toLowerCase()}
                  </th>
                  <th>${el.calorie}</th>
                  <th>
                    ${el.meal.toLowerCase().slice(0,1).toUpperCase() +
                    el.meal.slice(1, el.length).toLowerCase()}
                  </th>
                  <th>${el.timeFormatted}</th>
                  <th>
                    ${el.food_date_input.toLocaleString( 'en-US', { day:
                    "numeric", year: "numeric", month: "long",})}
                  </th>
                </tr>
                ` ).join('')}
              </tbody>
            </table>
          </div>
          <div class="meals-details">
            <h3>Breakfast Calories:</h3>
            <h4 id="cals-breakfast-today">
              ${calSumTodayBreak[0].sum ? calSumTodayBreak[0].sum : 0}
            </h4>
            <h3>Lunch Calories:</h3>
            <h4 id="cals-lunch-today">
              ${calSumTodayLunch[0].sum ? calSumTodayLunch[0].sum : 0}
            </h4>
            <h3>Dinner Calories:</h3>
            <h4 id="cals-Dinner-today">
              ${calSumTodayDinner[0].sum ? calSumTodayDinner[0].sum : 0}
            </h4>
            <h3>Snack Calories:</h3>
            <h4 id="cals-Dinner-today">
              ${calSumTodayDinner[0].sum ? calSumTodayDinner[0].sum : 0}
            </h4>
          </div>
        </div>
        <br />
        <div class="seven-day-detail">
          <div id="big-cal">
            <h2>7-Day Calories:</h2>
            <br />
            <h1 id="cals-today">
              ${calSumWeek[0].sum ? calSumWeek[0].sum : 0}
            </h1>
          </div>
          <div id="big-cal">
            <h2>7-Day Average Calories:</h2>
            <br />
            <h1 id="cals-today">
              ${calSumWeek[0].sum ? (calSumWeek[0].sum/7).toFixed(2) : 0}
            </h1>
          </div>
          <br />
          <div id="sum-table">
            <table id="cal-table">
              <thead>
                <tr>
                  <th>Food</th>
                  <th>Calorie</th>
                  <th>Meal</th>
                  <th>Time</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody>
                ${resultsWeek.map((el) => `
                <tr>
                  <th>
                    ${el.food.toLowerCase().slice(0,1).toUpperCase() +
                    el.food.slice(1, el.length).toLowerCase()}
                  </th>
                  <th>${el.calorie}</th>
                  <th>
                    ${el.meal.toLowerCase().slice(0,1).toUpperCase() +
                    el.meal.slice(1, el.length).toLowerCase()}
                  </th>
                  <th>${el.timeFormatted}</th>
                  <th>
                    ${el.food_date_input.toLocaleString( 'en-US', { day:
                    "numeric", year: "numeric", month: "long",})}
                  </th>
                </tr>
                ` ).join('')}
              </tbody>
            </table>
          </div>
          <div class="meals-details">
            <h3>Breakfast Calories:</h3>
            <h4 id="cals-breakfast-week">
              ${calSumWeekBreak[0].sum ? calSumWeekBreak[0].sum : 0}
            </h4>
            <h3>Average Breakfast Calories:</h3>
            <h4 id="cals-breakfast-week-avg">
              ${calSumWeekBreak[0].sum ? (calSumWeekBreak[0].sum/7).toFixed(2) :
              0}
            </h4>
            <h3>Lunch Calories:</h3>
            <h4 id="cals-lunch-week">
              ${calSumWeekLunch[0].sum ? calSumWeekLunch[0].sum : 0}
            </h4>
            <h3>Average Lunch Calories:</h3>
            <h4 id="cals-lunch-week-avg">
              ${calSumWeekLunch[0].sum ? (calSumWeekLunch[0].sum/7).toFixed(2) :
              0}
            </h4>
            <h3>Dinner Calories:</h3>
            <h4 id="cals-Dinner-week">
              ${calSumWeekDinner[0].sum ? calSumWeekDinner[0].sum : 0}
            </h4>
            <h3>Average Dinner Calories:</h3>
            <h4 id="cals-Dinner-week-avg">
              ${calSumWeekDinner[0].sum ? (calSumWeekDinner[0].sum/7).toFixed(2)
              : 0}
            </h4>
            <h3>Snack Calories:</h3>
            <h4 id="cals-Dinner-week">
              ${calSumWeekSnack[0].sum ? calSumWeekSnack[0].sum : 0}
            </h4>
            <h3>Average Snack Calories:</h3>
            <h4 id="cals-Dinner-week-avg">
              ${calSumWeekSnack[0].sum ? (calSumWeekSnack[0].sum/7).toFixed(2) :
              0}
            </h4>
          </div>
        </div>
        <br />
        <div class="month-detail">
          <div id="big-cal">
            <h2>30-Day Calories:</h2>
            <br />
            <h1 id="cals-today">
              ${calSumMonth[0].sum ? calSumMonth[0].sum : 0}
            </h1>
            <br />
          </div>
          <div id="big-cal">
            <h2>30-Day Average Calories:</h2>
            <br />
            <h1 id="cals-today">
              ${calSumMonth[0].sum ? (calSumMonth[0].sum/30).toFixed(2) : 0}
            </h1>
            <br />
          </div>
          <div id="sum-table">
            <table id="cal-table">
              <thead>
                <tr>
                  <th>Food</th>
                  <th>Calorie</th>
                  <th>Meal</th>
                  <th>Time</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody>
                ${resultsMonth.map((el) => `
                <tr>
                  <th>
                    ${el.food.toLowerCase().slice(0,1).toUpperCase() +
                    el.food.slice(1, el.length).toLowerCase()}
                  </th>
                  <th>${el.calorie}</th>
                  <th>
                    ${el.meal.toLowerCase().slice(0,1).toUpperCase() +
                    el.meal.slice(1, el.length).toLowerCase()}
                  </th>
                  <th>${el.timeFormatted}</th>
                  <th>
                    ${el.food_date_input.toLocaleString( 'en-US', { day:
                    "numeric", year: "numeric", month: "long",})}
                  </th>
                </tr>
                ` ).join('')}
              </tbody>
            </table>
          </div>
          <div class="meals-details">
            <h3>Breakfast Calories:</h3>
            <h4 id="cals-breakfast-month">
              ${calSumMonthBreak[0].sum ? calSumMonthBreak[0].sum : 0}
            </h4>
            <h3>Average Breakfast Calories:</h3>
            <h4 id="cals-breakfast-month-avg">
              ${calSumMonthBreak[0].sum ?
              (calSumMonthBreak[0].sum/30).toFixed(2) : 0}
            </h4>
            <h3>Lunch Calories:</h3>
            <h4 id="cals-lunch-month">
              ${calSumMonthLunch[0].sum ? calSumMonthLunch[0].sum : 0}
            </h4>
            <h3>Average Lunch Calories:</h3>
            <h4 id="cals-lunch-month-avg">
              ${calSumMonthLunch[0].sum ?
              (calSumMonthLunch[0].sum/30).toFixed(2) : 0}
            </h4>
            <h3>Dinner Calories:</h3>
            <h4 id="cals-Dinner-month">
              ${calSumMonthDinner[0].sum ? calSumMonthDinner[0].sum : 0}
            </h4>
            <h3>Average Dinner Calories:</h3>
            <h4 id="cals-Dinner-month-avg">
              ${calSumMonthDinner[0].sum ?
              (calSumMonthDinner[0].sum/30).toFixed(2) : 0}
            </h4>
            <h3>Snack Calories:</h3>
            <h4 id="cals-Dinner-month">
              ${calSumMonthSnack[0].sum ? calSumMonthSnack[0].sum : 0}
            </h4>
            <h3>Average Snack Calories:</h3>
            <h4 id="cals-Dinner-month-avg">
              ${calSumMonthSnack[0].sum ?
              (calSumMonthSnack[0].sum/30).toFixed(2) : 0}
            </h4>
          </div>
        </div>
      </div>
      ${footer}
    </div>
  </body>
  <script src="/public/frontend.js"></script>
</html>
