<!DOCTYPE html>
<html lang="en">
  ${head}
  <body>
    <div id="wrapper">
      ${header}
      <div id="date-box">
        <h1>${today}</h1>
        <!-- make the date on the frontend?? -->
      </div>
      <div id="summary-full">
        <div id="big-cal">
          <h2>Calories:</h2>
          <h1 id="cals-today">${calSum[0].sum ? calSum[0].sum : 0}</h1>
        </div>
        <div id="sum-table">
          <table>
            <tr>
              <th>Food</th>
              <th>Calorie</th>
              <th>Meal</th>
              <th>Date</th>
              <th>Time</th>
            </tr>
            ${results.map((el) => `
            <tr>
              <th>
                ${el.food.toLowerCase().slice(0,1).toUpperCase() +
                el.food.slice(1, el.length).toLowerCase()}
              </th>
              <th>${el.calorie}</th>
              <th>
                ${el.meal.toLowerCase().slice(0,1).toUpperCase() +
                el.meal.slice(1, el.length).toLowerCase()}
              </th>
              <th>${el.food_date_input.toDateString()}</th>
              <th>${el.food_time_input}</th>
            </tr>
            ` ).join('')}
          </table>
        </div>
      </div>
      ${footer}
    </div>
  </body>
</html>
