<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link href="../public/styles.css" rel="stylesheet" />
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <div class="header-item" id="title">kCalorie</div>
        <div class="header-item" id="menu">
          <a>Dashboard</a>
          <a>New Food</a>
        </div>
      </div>
    </div>
  </body>
</html>
