<!DOCTYPE html>
<html lang="en">
  ${head}
  <body>
    <div class="wrapper">
      <div id="header">
        <div class="header-item" id="title">
          <a href="./login">kCalorie</a>
        </div>
      </div>

      <div class="summary-full">
        <form method="GET">
          <label id="username">Username:</label>
          <input
            type="text"
            name="username"
            placeholder="Enter Username"
            required
          /><br />
          <label id="password">Password:</label>
          <input
            type="password"
            name="password"
            placeholder="Enter Password"
            required
          /><br />
          <input type="submit" /><br />
          <a href="google.com" id="new-user">New User</a>
        </form>
      </div>
      ${footer}
    </div>
  </body>
</html>
